/*Variables*/

:root {
	/*General colors*/
	--bgColor: #EAE7AF;
	--mainFont: 'Roboto', sans-serif;
	--fontColor: #393939;
	--linkColor: #FFAAAA;
	--linkColorHover: #FFD3D3;

	/*Table colors*/
	--tableBg: #2b2b28;
	--friendlyWarnColor: #FFAAAA;
	--warnColor: #E37070;
	--muteColor: #C7004C;
	--tempBanColor: #8F1537;
	--permBan: #6E0925;
	--naColor: #5A5A5A;

	/*Shortcuts Colors*/
	--bgShortcuts: #24384D;
	--shortcutsColor: #fff;
	--shortcutsColorHover: #00A8FF;
	--shortcutsBgColorHover: #12202E;

	/*Dark Theme*/

	--darkBody: #352F44;
	--darkTitle: #fff;
	--darkParagraph: #fff;
	--darkLi: #411E8F;
	--darkTable: #C5C5C5;
	--darkTdr: #310A5D;

	--darkFriendlyWarn: #9861D7;
	--darkFriendlyWarnColor: #fff;
	--darkWarn: #7A45B6;
	--darkMute: #5D2997;
	--darkTempBan: #512285;
	--darkPermBan: #391166;
	--darkNA: #000;

	--darkSlide: #fff;
	--darkSlideCircle: #54339E;

	--darkBgShortcuts: #310A5D;
	--darkShortcutsColor: #AFAFAF;
	--darkShortcutsColorHover: #fff;
	--darkShortcutsBgColorHover: #410881;
}

/*Scroll*/

::webkit-scrollbar {
	width: 10px;
	height: 10px;
}

/*General*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	background-color: var(--bgColor);
	font-family: var(--mainFont);
}

b { font-weight: 500; }

a { color: var(--linkColor); text-decoration: none; }
a:hover { color: var(--linkColorHover); }

/*Theme slide*/

.slide {
	width: 60px;
	height: 25px;
	background-color: #333333;
	position: fixed;
	top: 50px;
	right: 20px;
	border-radius: 30px;
	cursor: pointer;
	z-index: 2;
}

.slide::before {
	position: absolute;
	top: 4px;
	font-size: 14px;
	content: 'Dark';
	color: #fff;
	right: 5px;
	transition: left .2s, right .2s;
}

.slide .slide-circle {
	width: 25px;
	height: 25.4px;
	background-color: #3D5874;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 30px;
	transition: left .3s;
	z-index: 1;
}

.slide .slide-circle.push {
	left: 35.5px;
}

/*Main Content*/

.main-container { max-width: 1366px; }

.main-container section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: auto;
}

.main-container section div {
	display: flex;
	flex-direction: column;
	max-width: 650px;
	align-items: center;
	padding: 20px 50px;
}

.main-container section div h2 {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: var(--fontColor);
	position: relative;
	z-index: 1;
}

.main-container section div img,
.main-container section div svg {
	width: 300px;
	margin: 30px 0;
}

.main-container #rotate { transform: rotateZ(45deg); }

/*.howtodo .darkSvg { fill: #581B00; }*/

.main-container section div ul { margin: 20px 0; }

.main-container section div ul p {
	font-weight: bold;
	font-size: 20px;
	color: var(--fontColor);
}

.main-container section div ul li {
	margin: 10px 0;
	background-color: #940A37;
	color: #fff;
	padding: 10px;
	border-radius: 3px;
	list-style: none;
}

/*Table Styles*/

.main-container .howtodo {
	max-width: 100%;
}

.howtodo table {
	background-color: var(--tableBg);
	font-size: 13px;
	text-align: center;
	color: #fff;
}

.howtodo th { padding: 10px; transform: scale(1.15); }

.howtodo tr { background-color: #940a37; }

.howtodo td {
	background-color: #940a37;
	padding: 10px;
}

.howtodo .fw,
.howtodo .na { color: #000; }

.howtodo .fw { background-color: var(--friendlyWarnColor); }

.howtodo .warn { background-color: var(--warnColor); }

.howtodo .mute { background-color: var(--muteColor); }

.howtodo .tempBan { background-color: var(--tempBanColor); }

.howtodo .permBan { background-color: var(--permBan); }

.howtodo .na { background-color: var(--naColor); }

/*Atajos*/

a#comandos,
a#comandos2,
a#comandos3,
a#queHacer,
a#queHacer2,
a#queHacer3,
a#reglamento,
a#reglamento2,
a#reglamento3,
a#mensajesPredefinidos,
a#mensajesPredefinidos2 {
	color: var(--shortcutsColor);
	background-color: var(--bgShortcuts);
	padding: 10px;
	display: block;
	margin: 5px 0;
	transition: background .5s, color .2s, padding .5s;
	position: absolute;
	left: 0;
}

.shortcuts img {
	width: 30px;
}

a#comandos { top: 100px; }

a#queHacer { top: 160px; }


a#reglamento { top: 1380px; }

a#mensajesPredefinidos { top: 1440px; }
a#mensajesPredefinidos img { transform: rotateZ(45deg); }

a#queHacer2 { top: 1500px; }


a#reglamento2 { top: 3462px; }

a#mensajesPredefinidos2 { top: 3522px; }
a#mensajesPredefinidos2 img { transform: rotateZ(45deg); }

a#comandos2 { top: 3582px; }


a#reglamento3 { display: none; }

a#comandos3 { display: none; }

a#queHacer3 { display: none; }

a#comandos:hover,
a#comandos2:hover,
a#comandos3:hover,
a#queHacer:hover,
a#queHacer2:hover,
a#queHacer3:hover,
a#reglamento:hover,
a#reglamento2:hover,
a#reglamento3:hover,
a#mensajesPredefinidos:hover,
a#mensajesPredefinidos2:hover {
	background-color: var(--shortcutsBgColorHover);
	color: var(--shortcutsColorHover);
	transition-duration: .2s;
	padding-right: 25px;
}

/*Dark Theme*/

.darkBody { background: var(--darkBody); }

.main-container .darkTitle { color: var(--darkTitle); }

.main-container .darkParagraph { color: var(--darkParagraph); }

.main-container .darkLi { background-color: var(--darkLi); }

.howtodo .darkTable { background-color: var(--darkTable); }

.howtodo .darkTdr { background-color: var(--darkTdr); }

.howtodo .darkFriendlyWarn {
	color: var(--darkFriendlyWarnColor);
	background-color: var(--darkFriendlyWarn);
}

.howtodo .darkWarn { background-color: var(--darkWarn); }

.howtodo .darkMute { background-color: var(--darkMute); }

.howtodo .darkTempBan { background-color: var(--darkTempBan); }

.howtodo .darkPermBan { background-color: var(--darkPermBan); }

.howtodo .darkNA {
	color: var(--darkNA);
	background-color: #240448;
}

.darkSlide { background-color: var(--darkSlide); }

.darkSlide::before {
	content: 'Light';
	color: #141414;
	right: 25px;
	font-weight: 500;
}

.slide .darkSlideCircle { background-color: var(--darkSlideCircle); }

.shortcuts .darkRegulation,
.shortcuts .darkRegulation2,
.shortcuts .darkPredefinedMessages,
.shortcuts .darkPredefinedMessages2,
.shortcuts .darkCommands,
.shortcuts .darkCommands2,
.shortcuts .darkHowToDo,
.shortcuts .darkHowToDo2 {
	background-color: var(--darkBgShortcuts) !important;
	color: var(--darkShortcutsColor) !important;
}

.shortcuts .darkRegulation:hover,
.shortcuts .darkRegulation2:hover,
.shortcuts .darkPredefinedMessages:hover,
.shortcuts .darkPredefinedMessages2:hover,
.shortcuts .darkCommands:hover,
.shortcuts .darkCommands2:hover,
.shortcuts .darkHowToDo:hover,
.shortcuts .darkHowToDo2:hover {
	background-color: var(--darkShortcutsBgColorHover) !important;
	color: var(--darkShortcutsColorHover) !important;
}

@media (max-width: 1316px) {
	.main-container section div ul {
		max-width: 450px;
	}

	.main-container section div img {
		width: 250px;
	}
}

@media (max-width: 1216px) {
	.main-container section div {
		max-width: 950px;
	}

	.main-container section div ul {
		max-width: inherit;
	}

	a#reglamento { top: 1180px; }

	a#mensajesPredefinidos { top: 1240px; }

	a#queHacer2 { top: 1300px; }


	a#reglamento2 { top: 5200px; }

	a#mensajesPredefinidos2 { top: 5260px; }

	a#comandos2 { top: 5320px; }


	a#reglamento3 { top: 2900px; display: inherit; }

	a#comandos3 { top: 2960px; display: inherit; }

	a#queHacer3 { top: 3020px; display: inherit; }
}

@media (max-width: 925px) {
	a#reglamento { top: 1230px; }

	a#mensajesPredefinidos { top: 1290px; }

	a#queHacer2 { top: 1350px; }


	a#reglamento3 { top: 3100px; }

	a#comandos3 { top: 3160px; }

	a#queHacer3 { top: 3220px; }


	a#reglamento2 { top: 5300px; }

	a#mensajesPredefinidos2 { top: 5360px; }

	a#comandos2 { top: 5420px; }
}

@media (max-width: 880px) {
	a#reglamento2 { top: 5400px; }

	a#mensajesPredefinidos2 { top: 5460px; }

	a#comandos2 { top: 5520px; }
}

@media (max-width: 820px) {
	a#reglamento2 { top: 5500px; }

	a#mensajesPredefinidos2 { top: 5560px; }

	a#comandos2 { top: 5620px; }
}

@media (max-width: 777px) {
	a#reglamento2 { top: 5600px; }

	a#mensajesPredefinidos2 { top: 5660px; }

	a#comandos2 { top: 5720px; }
}

@media (max-width: 750px) {
	a#reglamento { top: 1330px; }

	a#mensajesPredefinidos { top: 1390px; }

	a#queHacer2 { top: 1450px; }


	a#reglamento3 { top: 3200px; }

	a#comandos3 { top: 3260px; }

	a#queHacer3 { top: 3320px; }
}

@media (max-width: 735px) {
	a#reglamento2 { top: 5700px; }

	a#mensajesPredefinidos2 { top: 5760px; }

	a#comandos2 { top: 5820px; }
}

@media (max-width: 700px) {
	a#reglamento2 { top: 5800px; }

	a#mensajesPredefinidos2 { top: 5860px; }

	a#comandos2 { top: 5920px; }
}

@media (max-width: 675px) {
	a#reglamento3 { top: 3300px; }

	a#comandos3 { top: 3360px; }

	a#queHacer3 { top: 3420px; }
}

@media (max-width: 671px) {
	a#reglamento2 { top: 5900px; }

	a#mensajesPredefinidos2 { top: 5960px; }

	a#comandos2 { top: 6020px; }
}

@media (max-width: 665px) {
	a#reglamento2 { top: 6000px; }

	a#mensajesPredefinidos2 { top: 6060px; }

	a#comandos2 { top: 6120px; }
}

@media (max-width: 650px) {
	a#reglamento3 { top: 3400px; }

	a#comandos3 { top: 3460px; }

	a#queHacer3 { top: 3520px; }
}

@media (max-width: 646px) {
	a#reglamento2 { top: 6200px; }

	a#mensajesPredefinidos2 { top: 6260px; }

	a#comandos2 { top: 6320px; }
}

@media (max-width: 610px) {
	a#reglamento3 { top: 3600px; }

	a#comandos3 { top: 3660px; }

	a#queHacer3 { top: 3720px; }
}

@media (max-width: 606px) {
	a#reglamento2 { top: 6400px; }

	a#mensajesPredefinidos2 { top: 6460px; }

	a#comandos2 { top: 6520px; }
}

@media (max-width: 575px) {
	a#reglamento { top: 1430px; }

	a#mensajesPredefinidos { top: 1490px; }

	a#queHacer2 { top: 1550px; }
}

@media (max-width: 568px) {
	a#reglamento2 { top: 6600px; }

	a#mensajesPredefinidos2 { top: 6660px; }

	a#comandos2 { top: 6720px; }
}

@media (max-width: 560px) {
	a#reglamento3 { top: 3900px; }

	a#comandos3 { top: 3960px; }

	a#queHacer3 { top: 4020px; }


	a#reglamento2 { top: 6800px; }

	a#mensajesPredefinidos2 { top: 6860px; }

	a#comandos2 { top: 6920px; }
}

@media (max-width: 540px) {
	a#reglamento2 { top: 7000px; }

	a#mensajesPredefinidos2 { top: 7060px; }

	a#comandos2 { top: 7120px; }
}

@media (max-width: 530px) {
	a#reglamento { top: 1530px; }

	a#mensajesPredefinidos { top: 1590px; }

	a#queHacer2 { top: 1650px; }
}

@media (max-width: 514px) {
	a#reglamento2 { top: 7200px; }

	a#mensajesPredefinidos2 { top: 7260px; }

	a#comandos2 { top: 7320px; }
}

@media (max-width: 513px) {
	a#reglamento3 { top: 4000px; }

	a#comandos3 { top: 4060px; }

	a#queHacer3 { top: 4120px; }
}